<section class="product">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-3">
          <div class="box">
            <div class="product_img">
              <img src="../../../assets/imagesOne.jpg" alt="P1" />
            </div>
            <div class="content">
              <h5>Product One</h5>
              <p>₹ 500</p>
              <div class="pro-button">
                <button class="btn btn-secondary btn-sm" type="button">
                  Info
                </button>
                <button class="btn btn-primary btn-sm" type="button">
                  Add to Cart
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="box">
            <div class="product_img">
              <img src="../../../assets/imagesOne.jpg" alt="P1" />
            </div>
            <div class="content">
              <h5>Product One</h5>
              <p>₹ 500</p>
              <div class="pro-button">
                <button class="btn btn-secondary btn-sm" type="button">
                  Info
                </button>
                <button class="btn btn-primary btn-sm" type="button">
                  Add to Cart
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="box">
            <div class="product_img">
              <img src="../../../assets/imagesOne.jpg" alt="P1" />
            </div>
            <div class="content">
              <h5>Product One</h5>
              <p>₹ 500</p>
              <div class="pro-button">
                <button class="btn btn-secondary btn-sm" type="button">
                  Info
                </button>
                <button class="btn btn-primary btn-sm" type="button">
                  Add to Cart
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="box">
            <div class="product_img">
              <img src="../../../assets/imagesOne.jpg" alt="P1" />
            </div>
            <div class="content">
              <h5>Product One</h5>
              <p>₹ 500</p>
              <div class="pro-button">
                <button class="btn btn-secondary btn-sm" type="button">
                  Info
                </button>
                <button class="btn btn-primary btn-sm" type="button">
                  Add to Cart
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
