<div>
  <app-admin-header></app-admin-header>
  <app-admin-logout></app-admin-logout>
  <section class="add-product">
    <div class="container">
      <div class="box">
        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="exampleInputEmail1">Product Name</label>
            <input
              type="text"
              name="product_name"
              [(ngModel)]="product_name"
              class="form-control"
              id="exampleInputName"
              aria-describedby="nameHelp"
              placeholder="Enter product name"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputPrice">Product Price</label>
            <input
              type="number"
              name="product_price"
              [(ngModel)]="product_price"
              class="form-control"
              id="exampleInputPrice"
              placeholder="Price"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputInformation">Product Information</label>
            <input
              type="text"
              name="product_information"
              [(ngModel)]="product_information"
              class="form-control"
              id="exampleInputInformation"
              placeholder="Description"
            />
          </div>
          <form>
            <div class="form-group">
              <label for="exampleFormControlFile1">Product Image</label>
              <br />
              <input
                type="file"
                name="product_image"
                (change)="onFileChange($event)"
                class="form-control-file"
                id="exampleFormControlFile1"
              />
            </div>
          </form>
          <button type="submit" class="btn btn-primary">Add Product</button>
        </form>
      </div>
    </div>
  </section>
</div>
