
.box{
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    width:350px;
    margin:50px auto;
    background: #79a5ed; 
}
form label{
    margin-top: 10px;
}
form button{
    margin-top: 10px
} 