.order{
    padding: 0;
    margin: 30px 0;
}
.card-order{
    border: 1px solid rgb(210, 210, 210);
    border-radius: 15px;
}
.pro-image {
    height:220px;
    width:200px;
    margin-right: 20px;
}
.pro-image img{
    height:220px;
    width:200px;
    border:1px solid;
}
.total{
    padding:10px;
    display: flex;
    justify-content: space-between;
}

